[init]
  defaultBranch = main
[core]
	excludesfile = /Users/jameshaff/.gitignore_global
[user]
	name = jimbojones1
	emal = jimmyhaff3@gmail.com\n
	email = jimmyhaff3@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
